.loginPage {
    position: relative;
    width: 1440px;
    height: 45px;
    left: 0;
    background: #FFFFFF;
}

.loginHome {

    position: absolute;
    width: 1440px;
    height: 900px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
}

.navbarLogin {
    position: absolute;
    width: 1440px;
    height: 53px;
    left: 0px;
    top: 4px;

}

.navbarLogin ul {
    position: absolute;
    width: 340px;
    height: 28px;
    left: 1018px;
    top: 1px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.navbarLogin li {

    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px;
    cursor: pointer;

} 

.email {

    width: 406px;
    height: 46px;
    left: 517px;
    top: 353px;

    background: #FAFAFA;
    opacity: 0.8;
    margin-bottom: 5px;
}

.password {

    width: 406px;
    height: 46px;
    left: 517px;
    top: 353px;

    background: #FAFAFA;
    opacity: 0.8;
}

.loginInputs{
    display: grid;
    justify-items: center;
    margin-top: -30rem;
    

}
.login{
    display: grid;
    justify-items: center;
    margin-top: 6rem;
    /* position: absolute; */
        position: relative;

}
.loginButton{
    
        /* position: relative; */
        width: 100px;
        height: 30px;
        color: white;
        padding: 7px;
    cursor: pointer;


        /* button--color */
    
        background: linear-gradient(95.32deg, #313131 0%, #000000 101.64%);
        border: 2px solid #FFFFFF;
        border-radius: 3px;
    

}

.animeImage{
position:relative;
top: 10px;

} 


.anime {

    width: 100%;
    /* width: 1440px; */
    /* height: 830px; */
    height: 70%;
    left: 0px;
    top: 0px;
    object-fit: cover;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(anime.jpg);

}
